.imagem-redonda {
    width: 150px; /* Largura da imagem */
    height: 150px; /* Altura da imagem */
    border: 5px solid blue; /* Borda azul */
    border-radius: 50%; /* Faz a imagem redonda */
    object-fit: cover; /* Corta a imagem para se ajustar */
}
.contato {
    color: blue;
}
body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200706/pngtree-vast-space-universe-blue-nebula-galaxy-background-image_347729.jpg');
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    height: 100vh;
    margin: 0;
    color: white; /* Altera a cor do texto para branco, para melhor contraste */
}